/*!
 * ajk's Hot New Template
 * Made by ajk (ajk.fi)
 */

@import "compass/css3";

// Frameless grid. Remove if don't need
@import "partials/frameless";


@import "vars";
@import "mixins";


// Baseline grid. Remove in production!
@import "partials/basehold-it";



/* RESET
----------------------------------------------------------------------------- */
@import "partials/reset";


/*------------------------------------*\
    ELEMENTS
\*------------------------------------*/


/* BASE
----------------------------------------------------------------------------- */
@import "partials/base";


/* TYPOGRAPHY
----------------------------------------------------------------------------- */
@import "partials/typography";


/* ABSTRACTIONS (OOCSS style)
----------------------------------------------------------------------------- */
@import "partials/abstractions";


/*------------------------------------*\
    OBJECTS
\*------------------------------------*/


/* ICONS
----------------------------------------------------------------------------- */
@import "partials/icons";


/* ANIMATIONS
----------------------------------------------------------------------------- */
@import "partials/keyframes";
@import "partials/animations";


/* BUTTONS
----------------------------------------------------------------------------- */
@import "partials/buttons";


/* FORMS
----------------------------------------------------------------------------- */
@import "partials/forms";


/* TABLES
----------------------------------------------------------------------------- */
@import "partials/tables";


/* NAV
----------------------------------------------------------------------------- */
@import "partials/nav";


/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/


/* HEADER
----------------------------------------------------------------------------- */
@import "partials/header";


/* FOOTER
----------------------------------------------------------------------------- */
@import "partials/footer";


/*------------------------------------*\
    OTHER
\*------------------------------------*/


.data {
	display: block;
	width: 100px;
	margin: 0 0px;

	p {
		display: none;
	}

	table {
		margin: 0 0px;
	}

	tbody {
    	height: 0.1px;
    	width: 100px;
	    border-spacing: 0px;
	    font-size: 0em;
	}

	tr {
	    th {
	    	display: none;	    
	    }

	    td {
	    	padding: 0 0px;
	    	display: none;
	    }

	    td+td {
	    	display: block;
	    	padding: 0 0px;

	    	p, div {
			    background-color: blue;
			    height: 1px;
		    	margin: 0 auto;
	    	}
	    }

	    td+td+td {
	    	display: none;
	    	padding: 0 0px;
		    background-color: white;
	    }
	}
}

.yearBars {
	height: 10em;
	float: right;
	position: relative;

	.title {
		position: absolute;
		left: 0;
		top: 0;
	}
}

.yearBar {
	float: right;
	width: 40px;
	margin-right: 2px;
	background-color: red; 
	position: relative;

	&:hover, .selected {
		border: 1px solid gray;
		background-color: #3CC;
	}

	.temp {
		display: none;
		font-size: 0.7em;
	}

	&:hover .temp, .selected .temp {
		display: block;
		position: absolute;
		bottom: 0;
	}
}

/* ALL THE REST
----------------------------------------------------------------------------- */
@import "partials/other";
