.yearBars {
	height: 10em;
	float: right;
	position: relative;
}

.yearBars .title {
	position: absolute;
	left: 0;
	top: 0;
}

.yearBar {
	float: right;
	width: 40px;
	margin-right: 2px;
	background-color: red; 
	position: relative;
}

.yearBar:hover,
.yearBar.selected {
	border: 1px solid gray;
	background-color: #3CC;
}

.yearBar .temp {
	display: none;
	font-size: 0.7em;
}
.yearBar:hover .temp,
.yearBar.selected .temp {
	display: block;
	position: absolute;
	bottom: 0;
}

#info {
	float: left;
	margin-top: 5px;
	font-size: 0.6em;
	width: 100%;
}

#info .month {
	float: left;
	border-right: 1px solid red;
	width: 8%;
}