.yearBars {
	height: 10em;
	float: right;
	position: relative;
}

.yearBars .title {
	position: absolute;
	left: 0;
	top: 0;
}

.yearBar {
	float: right;
	width: 40px;
	margin-right: 2px;
	background-color: red; 
	position: relative;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.yearBar:hover,
.yearBar.selected {
	border: 1px solid gray;
	background-color: #3CC;
}

.yearBar .temp {
	display: none;
	font-size: 0.7em;
}
.yearBar:hover .temp,
.yearBar.selected .temp {
	display: block;
	position: absolute;
	bottom: 0;
}

.d3chart {
	float: right;
}

#info {
	float: left;
	margin-top: 70px;
	font-size: 0.6em;
	width: 98%;
}

#info .month {
	float: left;
	border-right: 1px solid red;
	width: 8%;
	padding-left: 3px;
}

#foobar {
	position: relative;
	margin-top: 100px;
}

.foobar {
	border: 1px solid lightblue;
	border-radius: 5px;
	position: relative;
}
.foobar .label {
	color: green;
	position: absolute;
	right: -2em;
}
