.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  height: 10px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}